/* Container principal */
.profileContainer {
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--bg-color);

  & h1{
    color: var(--text-color);
  }
}

/* Container de informações do usuário */
.userInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
  width: 800px;
}

/* Item de informação */
.infoItem {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

/* Rótulo (label) */
.label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

/* Responsividade */
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .userInfo {
    padding: 1.5rem;
  }

  .infoItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .label {
    font-size: .9rem;
  }
}